<header class="py-5">
  <div class="about-intro text-center">
    <h1>About</h1>
    <p>Leading the future of surface protection</p>
  </div>
  <div class="container">
    <div class="row g-4 align-items-center">
      <div class="col-md-6 order-1 order-lg-0">
        <div style="max-width: 500px">
          <h2>
            Royal Group —
            <span class="text-info">Innovating </span>Protection
          </h2>
          <p>
            We specialize in advanced nano-ceramic coatings for cars, boats, and
            industry.
          </p>
          <p>
            Powered by Royal Nano Ceramic and Infinity Nano, we bring
            performance and style together.
          </p>
          <button class="animated-button">Get in Touch</button>
        </div>
      </div>
      <div class="col-md-6">
        <div>
          <img
            src="./imgs/undraw_work-time_zbsw.svg"
            alt="Royal Group team at work"
            class="w-100"
          />
        </div>
      </div>
    </div>
  </div>
</header>
