.mession {
  background-color: var(--color-bg-blue);
}

.my-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.my-row > .coll {
  flex: 1 1 calc(50% - 2rem);
}
@media (max-width: 991.98px) {
  .my-row > .coll {
    flex: 1 1 100%;
  }
}
