<section>
  <!-- Royal Group Stats -->
  <div class="container">
    <h3>Royal Group in Numbers</h3>
    <p class="foundation-facts-text">
      Royal Group is a growing force in the global surface protection industry,
      delivering advanced solutions through a powerful network of brands,
      partners, and professionals.
    </p>
    <div class="row">
      <div class="col-md-3 col-lg-2">
        <div class="text-center">
          <p class="text-dark fw-medium mb-0 numbers">430+</p>
          <p class="fs-5 text-dark">Employees</p>
        </div>
      </div>
      <div class="col-md-3 col-lg-2">
        <div class="text-center">
          <p class="text-dark fw-medium mb-0 numbers">15+</p>
          <p class="fs-5 text-dark">Years of Experience</p>
        </div>
      </div>
      <div class="col-md-3 col-lg-2">
        <div class="text-center">
          <p class="text-dark fw-medium mb-0 numbers">3</p>
          <p class="fs-5 text-dark">Leading Brands</p>
        </div>
      </div>
      <div class="col-md-3 col-lg-2">
        <div class="text-center">
          <p class="text-dark fw-medium mb-0 numbers">120+</p>
          <p class="fs-5 text-dark">Authorized Installers</p>
        </div>
      </div>
      <div class="col-md-3 col-lg-2">
        <div class="text-center">
          <p class="text-dark fw-medium mb-0 numbers">25+</p>
          <p class="fs-5 text-dark">International Partners</p>
        </div>
      </div>
      <div class="col-md-3 col-lg-2">
        <div class="text-center">
          <p class="text-dark fw-medium mb-0 numbers">10</p>
          <p class="fs-5 text-dark">Countries Reached</p>
        </div>
      </div>
    </div>
  </div>
</section>
